<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>This built in filters</h1>
   <!-- <h3>{{SD}}</h3>
    <h3>{{SD|upper}}</h3>
    <h3>{{SD|lower}}</h3>
    <h3>{{SD|capfirst}}</h3>
    <h3>{{SD|lower|capfirst}}</h3>
    <h3>{{SD|title}}</h3>
    <h3>{{SD|length}}</h3>
    <h3>{{SD|truncatewords:'2'}}</h3>
    <h3>{{SD|truncatechars:'8'}}</h3>
    <h3>{{SD|slice:'5'}}</h3>
   -->
    <h3>{{dt|date:'Y M D'}}</h3>
    <h3>I have {{c}} pen{{c|pluralize}}</h3>
    <h3>I have {{c}} mango{{c|pluralize:'es'}}</h3>
    <h3>This {{c}} marker{{c|pluralize}} {{c|pluralize:'is,are'}} mine</h3>

    </center>
</body>
</html>